body
{
	font-family: georgia, serif;
    background-color: #F0F3F4;
}
h1
{
    text-align: center;
}
#lol, section
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
aside
{
    float: left;
    height: 1500px;
    width: 200px;
    background-color: grey;
    border: 1px black solid;
    border-radius: 10px 10px 5px 5px;
    box-shadow: 1px 1px 1px grey;
    padding-top: 10px;
}
h2
{
    color: maroon;
}
@media all and (max-width: 1024px)
{
    aside
    {
        display: none;
    }
    section
    {
        display: flex;
        flex-direction: column;
    }
}
@media all and (max-device-width: 1024px)
{
    aside
    {
        display: none;
    }
    section
    {
        display: flex;
        flex-direction: column;
    }
}